#root {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
  text-align: center;
}

.logo {
  height: 5.5em;
  padding: 1.2em;
  transition: filter 300ms ease;
}

.logo:hover {
  filter: drop-shadow(0 0 1.8em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 1.8em #61dafbaa);
}

@keyframes logo-spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin 18s linear infinite;
  }
}

.card {
  padding: 1.8em;
}

.read-the-docs {
  color: #777;
}
